QLineEdit{
    border:2px solid rgb(0,0,0,0.5);
    border-radius:5px;
}
QPushButton{
    border:2px solid rgb(0,0,0,0.5);
    border-radius:5px;
}
QPushButton:hover{
   background-color:#70b8f0;
}
